<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload</title>
</head>

<body>
    <center>
        <h1>Express file uploader</h1>
        <form action="/uploader" method="post" enctype="multipart/form-data">
            <input type="file" name="document">
            <button type="submit">Upload file</button>
        </form>
    </center>
</body>

</html>